body {
  font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.breed-select {
  width: 438px;
  margin: 15px auto;
}
#slider {
  width: 583px;
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}
img {
  object-fit: cover;
  max-width: 100%;
}
.cat-info {
  max-width: 583px;
  margin: 0 auto;
  margin-top: 10px;
  /* border: 2px #5897fb solid; */
  box-shadow: 0 0 5px #5897fb;
  border-radius: 10px;
  padding: 16px;
}
.cat-name {
  font-size: 24px;
  line-height: 2rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
.cat-description,
.cat-temperament {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.0125em;
  line-height: 1.5;
}
.cat-info p {
  padding-top: 10px;
  margin: 0;
}
.cat-temperament {
  font-style: italic;
}
.cat-temperament-title {
  font-weight: 700;
  font-style: normal;
}
